<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>License Tracker App</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>


    <!-- <h2> License Tracker Web App</h2> -->
    <!-- <br> -->
    <!-- <a href="{{url_for('login')}}">Login Page</a><br>
    <a href="{{url_for('register')}}">Register Page</a><br> -->
    {% block body %}

    {% endblock %}

    <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
</body>
</html>